.header a{
	color: #fc7b27;
}
.header {
font-size: 17px
}
.header span:hover a{
	text-decoration: none;
	color: #fc7b27;
}
.menu:hover .dropdown-menu
{
	display: block;
	transition-delay: 2s;
}
.dropdown-menu{
	box-shadow: 1px 1px 2px 1px grey;
}
.menu a{
  color: black;
  text-decoration: none;
}
.menu:hover .hover{
  color: #fc7b27;
  text-decoration: none;
}
#banner img{
	width: 50%;
	height: 50%;
	float: left;
}
#banner{
	border-top: 2px solid #fc7b27;
}
#row a{
  color: #fc7b27;
  text-align: center;
  font-weight: bold;
  background: #f9efdf;
  text-decoration: none;
  font-size: 14px;
}
#row a:hover{
  
  background: #fc7b27;
  color: white;

}
.gia{
	border-bottom: 2px solid #fc7b27;
}
#thongtin{
	/* border: 1px solid grey; */
	width: 4rem;
	height: 4rem;
	background:#ebebeb;
	border-radius: 50%;
	position:relative;
}
#thongtin .fas{
	position: absolute;
	transform: translate(23px, 23px);
}
.binhphuong{
	position: relative;
	font-size: 13px;
    top: -4px;
    
}
.baoloi{
	width: 300px;
	height: 80px;
	border-radius: 5px;
	border: 0.5px solid grey;
	box-shadow: 1px 1px 2px 1px grey;
	font-size: 13px;
	padding-left: 10px
}
.baoloi1{
	width: 200px;
	height: 80px;
	border-radius: 5px;
	border: 0.5px solid grey;
	box-shadow: 1px 1px 2px 1px grey;
}
.baoloi1 div{
	margin-left: 10px;
	transform: translate(10px, 22px);
}
#footer{
	background: #f0f0f0;
	margin-top: 20px;
}
#web div{
	display: block;
}
.banner{
	width: 2rem;
	height: 2rem;
	background:#ebebeb;
	border-radius: 50%;
	position: absolute;
    transform: translate(10px, -200px);
}
.banner1{
	width: 2rem;
	height: 2rem;
	background:#ebebeb;
	border-radius: 50%;
	position: relative;
	transform: translate(-24px, -200px);
    float: right;
}
.carousel-control-prev {
    left: 11px !important;
}
.carousel-control-next {
    right: 11px !important;
}
.slick-slide {
    margin: 10px
}
.slick-prev:before{
    font-size: 35px !important;
   /*  color: red !important; */
}
.slick-next:before{
    font-size: 35px !important;
/*     color: red !important; */
}
/* .tab-content>.tab-pane {
    margin-top: -100px;
} */
/* #home{
	margin-top: -98px;
} */
.items1 img{
	width: 100%;;
	height: 200px;
	object-fit: cover;
}
#sanpham{
	height: 310px;
	border-radius: 5px;
	border: 1px solid #a8a8a8;
	box-shadow: 0px 0px 2px 2px #c8c7c7;
}
.text{
	font-size: 15px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%
}
.items1 .slick-prev {
    padding-left: 28px;
    z-index: 10;
    color: red;
}
.items1 .slick-next {
    padding-right: 76px;
    z-index: 10;
}
.morelink{
	display: flex;
    transform: translateX(50%);
}
#demo1 img{
	width: 80%;
	padding-left: 20%;
}
.web:hover a{
 	opacity: 0.5
}
.button{
	line-height: 20px;
	background: white;
	float: right;
	position: absolute;
}